@font-face {
  font-family: 'Apoc';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ApocLC-Revelations.otf') format('opentype');
}

@font-face {
  font-family: 'Apoc';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/ApocLC-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Apoc';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ApocLC-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Aeroport';
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Aeroport-Light.woff2') format('woff2');
}